<div class="c-forms bg-forms">
  <p>{{ title }}</p>
  <label for="form-control">
    <input
      #value
      class="c-input"
      id="form-control"
      name="form-control"
      type="text"
      [formControl]="formControl"
      placeholder="Digita ai parça"
      (keyup.enter)="alter()">
  </label>
  <br>
  <label for="form-control">
    <input
      #value
      readonly
      class="c-input"
      id="form-control"
      name="form-control"
      type="text"
      [formControl]="result"
      placeholder="Retorno">
  </label>
</div>
