$componentName: 'button';

.c-#{$componentName} {
  @extend .c-input;
  background-color: var(--lg-pri);
  color: #fff;
  font-weight: bold;
  transition: all .2s;

  &:hover {
    filter: brightness(.9);
  }
}
