$layoutName: 'l-myForm';

.#{$layoutName} {
  display: grid;
  grid-template-columns: 50vw 50vw;

  .forms-selected {
    @include flex();

    /* Alterar!! Colocar um placeholder de seleção */
    .c-selectForm {
      display: none;
    }
  }
}

.#{$layoutName}, .#{$layoutName} > * {
  height: 100%;
}
