<div class="c-forms bg-forms">
  <form [formGroup]="forms" (ngSubmit)="showMe()">
    <p>Cite 2 Hobbies</p>
    <label for="form-control">
      <input
        class="c-input"
        type="text"
        name="form-control"
        id="form-control"
        placeholder="Hobby"
        formControlName="hobby1">
    </label>
    <br>
    <label for="form-control">
      <input
        class="c-input"
        type="text"
        name="form-control"
        id="form-control"
        placeholder="Hobby"
        formControlName="hobby2">
    </label>
    <br>
    <button class="c-button" type="submit" (keyup.enter)="showMe()">Enviar</button>
  </form>
</div>
