$pri: #8005c3;
$sec: #DDB0F7;
$ter: #FCF6FF;

:root {
  --pri: #{$pri};
  --sec: #{$sec};
  --ter: #{$ter};
  --bg: #fff;
  --bg-ter: #FCF6FF;
  --light: #fff;
  --lg-pri: #BE48FF;
  --bg-sec: #DDB0F7;
  --lg-one: #fff;
  --lg-two: #A295A9;
  --dk-one: #252227;
  --ter-hover: #BE48FF;
  --txt-content: #000;
  --fundinho: #ddb0f74d;
}
