$pri: #8005c3;
$sec: #DDB0F7;
$ter: #FCF6FF;
$success: #0ac10a;
$failed: #ed436c;

:root {
  --pri: #{$pri};
  --sec: #{$sec};
  --ter: #{$ter};
  --success: #{$success};
  --failed: #{$failed};
  --bg: #fff;
  --bg-ter: #FCF6FF;
  --light: #fff;
  --lg-pri: #BE48FF;
  --bg-sec: #DDB0F7;
  --lg-one: #fff;
  --lg-two: #A295A9;
  --dk-one: #252227;
  --ter-hover: #BE48FF;
  --txt-content: #000;
  --fundinho: #f5e7fd;
}
