<div class="l-profile c-forms">
  <img class="c-img --profile" [src]="user.avatar_url" alt="user photo">
  <h1 class="u-title">{{ user.name }}</h1>
  <p class="u-readonly">{{ user.login }}</p>

  <br>

  <p *ngIf="hobbies.length == 2">Hobbies</p>
  <p *ngIf="hobbies.length == 1">Hobby favorito</p>
  <div class="c-tags-div" *ngIf="hobbies.length > 0">
    <small class="c-tags" *ngFor="let hobby of hobbies" >{{ hobby }}</small>
  </div>

  <br *ngIf="hobbies.length > 0">

  <P *ngIf="stackExists">Minha stack favorita é</P>
  <div class="stack">
    <div class="front">
      <img class="c-img --stack" *ngIf="stack.framework === 'react'" [src]="front.react" alt="react">
      <img class="c-img --stack" *ngIf="stack.framework === 'angular'" [src]="front.angular" alt="angular">
      <img class="c-img --stack" *ngIf="stack.framework === 'vue'" [src]="front.vue" alt="vue">
      <img class="c-img --stack" *ngIf="stack.framework === 'phoenix'" [src]="front.phoenix" alt="Phoenix Framework">
    </div>
    <div class="back">
      <img class="c-img --stack" *ngIf="stack.language === 'Javascript'" [src]="back.javascript" alt="Javascript">
      <img class="c-img --stack" *ngIf="stack.language === 'Typescript'" [src]="back.typescript" alt="Typescript">
      <img class="c-img --stack" *ngIf="stack.language === 'Java'" [src]="back.java" alt="Java">
      <img class="c-img --stack" *ngIf="stack.language === 'Elixir'" [src]="back.elixir" alt="Elixir">
    </div>
  </div>

  <button class="c-button" routerLink="/my-forms/template">Editar</button>
</div>
